.updateItemsFrame{
    left: 16%;
    width: 68%;
    height: 100%;
    display: flex;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
}
.selectedItemInfoFrame{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color:  rgba(205, 255, 0, 0.2);
}
.itemImageFrame{
    height: 40%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    display: flex;
}
.itemImage{
    height: 70%;
    aspect-ratio: 1;
}
.itemInfoFrame{
    height: 60%;
    width: 100%;
    justify-content: center;
    margin-top: 10%;
    display: flex;
}
.newValuesFrame{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
}
.ifoText{
    color: white;
}
.inputs {
    background-color: rgba(220, 220, 220, 0.2);
    text-align: center;
    border-radius: 3px;
    border-top-right-radius: 20px;
    border-width: 0px;
    border-bottom-width: 2px;
    border-bottom-color: #cdff00;
    width: 75%;
    aspect-ratio: 6;
    margin-top: 10px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.inputs::-webkit-input-placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
}
.inputsFrame {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex: 0.1;
    width: 100%;
}

.navigationFrame {
    flex: 0.40;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 20px;
    align-items: center;
}

.buttonFrame {
    flex: 0.1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    border-radius: 3px;
    border-top-right-radius: 20px;
    border-width: 0;
    width: 60%;
    margin-top: 10px;
    aspect-ratio: 5.6;
    color: grey;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: #cdff00;
}
.label{
    align-self: center;
    text-align: center;
    cursor: pointer;
    color: grey;
    /* Style as you please, it will become the visible UI component. */
 }
 
 #upload-file {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }
 .resultDiv{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    align-self: center;
    transition: 0.5s;
    width: 80%;
    height: 10%;
    background-color: #cdff00;
    border-radius: 15px;
    margin-top: 20px;
}
.mainInsidePanel{
    width: 100%;
    height: 90%;
    display: flex;
    position: absolute;
    overflow:hidden;
    overflow-y: scroll;
    flex-wrap: wrap;
    display: flex;
}
.mainInsidePanel::-webkit-scrollbar {
    display: none;
  }
.mainInsidePanel {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}