<div class="mainInsidePanel">
    <div class="updateItemsFrame">
        <div class="selectedItemInfoFrame">
            <div class="itemImageFrame">
                <img src="assets/images/folder.png" alt="" class="itemImage">
            </div>
            <form #updateForm = "ngForm" (ngSubmit) = "saveChanges(updateForm)" class="itemInfoFrame" novalidate>
                <li class="nav-item dropdown"
                    style="
                    border-radius: 3px;
                    border-top-right-radius: 20px;
                    background-color: rgba(220, 220, 220, 0.2);
                    width: 60%;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    aspect-ratio: 6;
                    color: white;
                    ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="text-align: center;width: 100%; color:white; font-family: 'Poppins', sans-serif;
                        font-size: 18px;">
                        {{comboboxText}}
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown" style="width: 100%;text-align: center; color: white;">
                        <a *ngFor="let folder of folders; let i = index" (click)="comboboxSelectedItemChange(i)" class="dropdown-item">{{folder.folderName}}</a>
                    </div>
                </li>
                <input name="Name" type="text" ngModel class="inputs" value="{{selectedFolder.folderName}}" >
                <input name="Description" type="text" ngModel class="inputs" value="{{selectedFolder.folderDescription}}" >
                <input type="submit" class="button"  value="Kaydet">
                <input type="button" class="button" (click) ="deleteFolder()"  value="Sil">
                <div class="resultDiv" [style.opacity]="opacity" [style.background-color]="textColor">{{stateText}}</div>
            </form>
            
        </div>
    </div>
</div>
