.middlePanel {
    height: 70%;
    aspect-ratio: 1.5;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    min-width: 200px;
    min-height: 500px;
}

.loginPanel {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 90px;
    min-height: 500px;
}

.imagePanel {
    height: 100%;
    width: 55%;
    overflow: hidden;
    min-width: 110px;
    min-height: 500px;
}

.image {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
}

.inputs {
    background-color: rgba(220, 220, 220, 0.2);
    text-align: center;
    border-radius: 3px;
    border-top-right-radius: 20px;
    border-width: 0px;
    border-bottom-width: 2px;
    border-bottom-color: #cdff00;
    width: 70%;
    height: 48%;
    aspect-ratio: 6;
    margin-top: 10px;
    display: flex;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.inputs::-webkit-input-placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
}

.logoFrame {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 20px;
    width: 100%;
}

.logo {
    align-self: center;
    width: 50%;
    aspect-ratio: 5/2;
}

.inputsFrame {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.navigationFrame {
    flex: 0.6;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 20px;
    align-items: center;
}

.buttonFrame {
    flex: 0.4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginButton {
    text-align: center;
    border-radius: 3px;
    border-top-right-radius: 20px;
    border-width: 0;
    width: 58%;
    margin-top: 10px;
    aspect-ratio: 5.6;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: #cdff00;
}

.navigationText {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-top: 2px;
}

.navigationLink {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #cdff00;
    margin-top: 5px;
}

.bottomNavigationBar {
    display: flex;
    bottom: 0%;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 10%;
    width: 100%;
}

.links {
    margin-bottom: 2%;
    align-self: center;
    width: 60%;
    flex: 0.25;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.linkImages {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0px;
}

.imagesL {
    height: 60%;
    aspect-ratio: 1;
    display: flex;
}
.registerResult{
    transition: 0.5s;
    width: 80%;
    aspect-ratio: 4;
    align-self: center;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-top-right-radius: 20px;
    background-color: rgba(205, 255, 0, 0.2);
}
.loginText{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: small;
    color: white;
    text-align:center;
    justify-content: center;
    align-items: center;
    display: flex;
}